<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Buyersharing</title>
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Styleguide</title>
  <meta name="author" content="Buyersharing">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Styles -->
  <link rel="stylesheet" href="wireframe.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-share-alt"></i><b> Buyersharing</b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="{{ url('/login') }}"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Login</a>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="{{ url('/register') }}"> Registrati</a>
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">yury</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">My Dashboard</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="{{ url('/home') }}"><i class="fa d-inline fa-lg fas fa-shopping-cart"></i></a>
      </div>
    </div>
  </nav>
  <!-- JS libraries -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon">xxxx</span> </button>
      <div class="collapse navbar-collapse text-center justify-content-left" id="navbar3SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gruppi d'acquisto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Abbonamenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Luxury</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Arte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Accademy</a>
          </li>
        </ul>
        <a class="btn navbar-btn btn-primary" href="#">Altre offerte</a>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12"> product long title: 3 o 5 lezioni con personal trainer o 3 mesi di abbonamento open alla palestra Fit Harmony (sconto fino a 83%) </div>
      </div>
      <div class="row">
        <div class="col-md-6"> Brand Long Title: Fit Harmony MILANO (7,1 km) 5 Voti </div>
        <div class="col-md-6 text-danger"> this is empty! </div>
        <div class="col-md-6"> left: about product
          <div class="row">
            <div class="col-md-12"> product image:
              <div class="p-5 text-center bg-secondary pi-draggable text-white" draggable="true">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h1 class="mb-4">Carousel with indicators</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div id="carouselArchitecture" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselArchitecture" data-slide-to="0" class="active"><i></i></li>
                          <li data-target="#carouselArchitecture" data-slide-to="1"><i></i></li>
                          <li data-target="#carouselArchitecture" data-slide-to="2"><i></i></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_architecture_1.jpg" data-holder-rendered="true"> </div>
                          <div class="carousel-item">
                            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_architecture_2.jpg" data-holder-rendered="true"> </div>
                          <div class="carousel-item">
                            <img class="d-block img-fluid" src="https://pingendo.github.io/templates/sections/assets/gallery_architecture_3.jpg" data-holder-rendered="true"> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12"> reviews:
              <div>
                <h4> Recenzioni dei clienti</h4>
                <hr>
                <div> recencioni stelle </div>
                <div> Manuela T. · 2 reviews ***** | Reviewed 11 febbraio 2018 | Palestra carina ed accogliente ,c 'e tutto ciò che serve per allenarsi . Personale qualificato e professionale ,mi sono sentita a mio agio . Complimenti ! </div>
              </div>
            </div>
            <div class="col-md-12"> deal long details:
              <div>
                <h4> L'offerta comprende</h4>
                <hr>
                <div>
                  <h4> Scegli tra 3 opzioni </h4>
                  <ul class="pi-draggable" draggable="true">
                    <li>3 lezioni con personal trainer a 19,90 € invece di 120 €</li>
                    <li>5 lezioni con personal trainer a 29,90 € invece di 170 €</li>
                    <li>3 mesi di abbonamento open a 39,90 € invece di 107 €</li>
                  </ul>
                  <p> Le lezioni con personal trainer danno la possibilità di scegliere tra diversi allenamenti tra i quali ginnastica dolce, ginnastica funzionale, allenamento per tonificazione, grapling, kick boxing, MMA, body building. </p>
                  <p> Ogni lezione dura 60 minuti. </p>
                  <p> L’abbonamento open in palestra consente l’accesso alla sala attrezzi. </p>
                  <p> Iscrizione e assicurazione sono incluse. </p>
                </div>
                <div> Manuela T. · 2 reviews ***** | Reviewed 11 febbraio 2018 | Palestra carina ed accogliente ,c 'e tutto ciò che serve per allenarsi . Personale qualificato e professionale ,mi sono sentita a mio agio . Complimenti ! </div>
              </div>
            </div>
            <div class="col-md-12"> terms of buying:
              <h4>Condizioni</h4>
              <hr>
              <p> Validità: utilizzabile entro 3 mesi dall'acquisto del coupon da lunedì a venerdì 9-22, sabato 10-18, domenica 10-13 Limiti: max 1 coupon a persona Prenotazione al numero 348.4194634, disdetta entro 24 ore Info ulteriori: richiesto certificato
                medico Prezzo originale verificato il 18.12.2017 (info) Consulta le condizioni generali </p>
            </div>
            <div class="col-md-12"> brand long info: Info su Fit Harmony </div>
          </div>
        </div>
        <div class="col-md-6"> rigth: about price
          <div class="row pi-draggable" draggable="true">
            <div class="col-md-4">solo per poco tempo</div>
            <div class="col-md-4">visto da 100+ persone oggi</div>
            <div class="col-md-4">***** 5 voti</div>
          </div>
          <hr>
          <div>
            <h3> 3 lezioni con personal trainer </h3>
            <div> € 120 € 19,90 83% Sconto </div>
          </div>
          <hr>
          <div>
            <a class="btn btn-primary pi-draggable" href="#" draggable="true">Compra </a>
          </div>
          <div>
            <a href="#" class="btn btn-outline-primary pi-draggable" draggable="true">Regala</a>
          </div>
          <hr> </div>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="https://source.unsplash.com/user/brucemars/256x200" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sconto fino a € 250,00</h5>
                  <p class="card-text">abbonamento annuale open in tutta Italia.</p>
                  <div class="row">
                    <div class="col-md-4">aquistati</div>
                    <div class="col-md-8">
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">aquistati</div>
                    <div class="col-md-8">
                      <div class="progress" style="height: 20px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="pi-draggable btn-group" draggable="true">
                        <a href="#" class="btn btn-outline-success">Wish</a>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <a href="#" class="btn btn-outline-primary">Share</a>
                    </div>
                    <div class="col-md-4">
                      <a href="#" class="btn btn-outline-primary">Acquista</a>
                    </div>
                  </div>
                  <h5 class="card-title">Virgin Active</h5>
                </div>
                <div class="card-footer"> <small class="text-muted">Creato il 12/01/2018. Scade il 31 marzo 2108.</small> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
      <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
    </pingendo>
  </div>
</body>

</html>